

@keyframes ldio-bx0trw7ne8i {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-bx0trw7ne8i div { box-sizing: border-box!important }
.ldio-bx0trw7ne8i > div {
  position: absolute;
  width: 137.9px;
  height: 137.9px;
  top: 29.55px;
  left: 29.55px;
  border-radius: 50%;
  border: 11.82px solid #000;
  border-color: #85a2b6 transparent #85a2b6 transparent;
  animation: ldio-bx0trw7ne8i 1.639344262295082s linear infinite;
}
.ldio-bx0trw7ne8i > div:nth-child(2) { border-color: transparent }
.ldio-bx0trw7ne8i > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-bx0trw7ne8i > div:nth-child(2) div:before, .ldio-bx0trw7ne8i > div:nth-child(2) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 11.82px;
  height: 11.82px;
  top: -11.82px;
  left: 51.22px;
  background: #85a2b6;
  border-radius: 50%;
  box-shadow: 0 126.08px 0 0 #85a2b6;
}
.ldio-bx0trw7ne8i > div:nth-child(2) div:after { 
  left: -11.82px;
  top: 51.22px;
  box-shadow: 126.08px 0 0 0 #85a2b6;
}
.loadingio-spinner-dual-ring-nwo1sjr8vw {
  width: 197px;
  height: 197px;
  display: inline-block;
  overflow: hidden;
  
}
.ldio-bx0trw7ne8i {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-bx0trw7ne8i div { box-sizing: content-box; }
/* generated by https://loading.io/ */


.layout-1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-text {
    font-size: 2rem;
}

.bg-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
}