@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --bg-color: #ffffff;
    --bg-input: #ffffff;
    --bg-form-color: rgb(243, 247, 250);


    --bg-form-btn-color: #e8f3fa;
    
    --logo-color:  #13405e;
    --form-text-color: #121120;
    --dash-color: rgb(26, 26, 26);
    font-size: 10px;
   
}

html, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Roboto', sans-serif;
}

.logo-title {
    font-size: 3rem;
    font-weight: 700;
}

.logo-brand-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 2rem;
    width: 60%;
    text-align: center;
    background: rgba(255, 255, 255, 0.747);
    padding: 1.5rem;
    color: var(--logo-color);
}

.brand-logo-dash {
    color: var(--logo-color);
}


/* Error */
.error-container {
    position: absolute;
    background: rgb(252, 218, 218);
    min-width: 75%;
    left: 50%;
    top: 2rem;
    transform: translate(-50%, 0);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}
 
#error-message {
    font-size: 2rem;
    margin: unset;
}